__pycache__/
*.swp
/.tox/
/Dockerfile
_version.py
/build
/dist
/.venv
/.python-version
*.egg-info/

# coverage files
/htmlcov
coverage.xml
.coverage*
docs/_html

# pytest files
pytest.xml
garbage.xml
